<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Login</title>
    <!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>

<link href="vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
<link href="vendor/select2/css/select2.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/overlay.css">

<script src="assets/javascripts/angular.min.js"></script>
<script src="assets/javascripts/angular-route.js"></script>
<script src="assets/javascripts/dirPaginate.js"></script>
<script src="js/sweetalert.min.js"></script>

<!-- <script src="js/inspect-element.js"></script>
<script src="js/disable-it.js"></script> -->

</head>

<body class="dashboard" ng-app="myApp" ng-controller="myCtrl">

<div id="preloader">
    <i>.</i>
    <i>.</i>
    <i>.</i>
</div>

<div class="authincation section-padding">
  <div class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
       <div class="col-xl-5 col-md-6">
            <div class="mini-logo text-center mb-35">
                <a href="index.html">
                <img src="images/logo.png" alt="Logo"></a>
            </div>
                <div class="card">
                  <div class="card-header justify-content-center">
                      <h4 class="card-title">Sign in</h4>
                   </div>
                        <div class="card-body">
                            <form method="post" name="StudentForm" ng-submit="login()">
                                <div class="row">
                                    <div class="col-12 mb-16"><label class="form-label">Email</label>
                                    <input type="email" ng-model="member.email" class="form-control"  ng-keyup="checkemail()" required>
                                    </div>
                                    
                                    <div class="col-12 mb-16"><label class="form-label">Password</label><input type="password" ng-model="member.password" class="form-control" required>
                                    </div>
                                    
                                    <div class="col-6">
                                        <div class="form-check">
                                        <input name="term" type="checkbox" class="form-check-input ">
                                        <label class="form-check-label">Remember me</label>
                                    </div>
                                    </div>

                                    <div class="col-6 text-end">
                                        <a href="reset.html">Forgot Password?</a>
                                    </div>
                                </div>

                                <div class="mt-16 d-grid gap-2">
                                  <button type="submit" class="btn btn-primary mr-2">SignIn</button>
                                </div>
                             </form>
                            <p class="mt-16 mb-0">Don't have an account?<a class="text-primary" href="signup.html">&nbsp;Sign up</a></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</div>
<!--  -->
</body>
</html>


<script type="text/javascript">

'use strict';

var SERVERURL="http://localhost/survey_api/";

var app = angular.module('myApp',['angularUtils.directives.dirPagination']);
app.controller('myCtrl', function($scope,$window,$http) {
    
    $scope.login=function(){
     $scope.memberdata = JSON.stringify($scope.member);
      $("#overlay").fadeIn(300);

      $http({
             method  : 'POST',
             url     :  SERVERURL+'login.php',
             data    :  $scope.member,          
             headers : {'Content-Type': 'application/x-www-form-urlencoded'} 
            })      
              .then(function (response) {
                console.log(response.data);
                  if(response.data['STATUS'] == "Success"){

                    $scope.user=response.data[0].name;
                    $scope.uemail=response.data[0].email;

                    $scope.users=localStorage.setItem('username',$scope.user);

                    $scope.token=localStorage.setItem('email',$scope.uemail);

                   window.location.href ="dashboard.html";
                    $("#overlay").fadeOut(300);
                 
                  }else{

                     swal({
                      title: "Enter correct Login Details.",
                      text : "Invalid Login Details.",
                      icon: "warning",
                      dangerMode: true,
                    })
                    
                    $("#overlay").fadeOut(300);
                   
                  }
              })
          }
            
            
            $scope.member={};
          

            $scope.checkemail=function(){

             $scope.email=$scope.member.email;
       
       $http({
               method  : 'POST',
               url     :  SERVERURL+'check_dup_email.php',
               data    :  $.param({ 'email' : $scope.email}), //forms user object
                  headers : {'Content-Type': 'application/x-www-form-urlencoded'}          
                 })
                .then(function (response) {
                if(response.data[0] == "Success"){
                        swal({
                          title: "Your access is pending.",
                          text: "Mail us on incipienttech@gmail.com",
                          icon: "error"
                          })
                    $scope.member.email="";
                          
                     }else{
                         
                     // document.getElementById("available").innerHTML="<i class='fa fa-check'>";  

                      }

                  })  
          }


// close controller//
    });

</script>